* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
}


.calculator {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}


#display {
    width: 100%;
    height: 55px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #111;
    color: #00ff9d;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #2c2c2c;
    color: #fff;
    transition: all 0.2s ease;
}

/* Hover Effect */
button:hover {
    background-color: #444;
}

/* Click Animation */
button:active {
    transform: scale(0.95);
}

/* Operator Buttons */
.operator {
    background-color: #ff9f43;
    color: #000;
}

.operator:hover {
    background-color: #ffa94d;
}


.equal {
    background-color: #1dd1a1;
    color: #000;
}

.equal:hover {
    background-color: #2ee6b8;
}


.zero {
    grid-column: span 2;
}
